
@media screen and (max-width:1200px) {
    .img-his{
        display: flex;
        justify-content: center;
        position: relative;
        height: 80dvh;
    }
    /* .img-his .DisneyKick,
    .img-his .kickB{
        position: absolute;
    } */
    .KickB{
        width: 15rem;
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        z-index: 1;
    }
    .DisneyKick{
        width: 15rem;
        position: absolute;
        right: 2rem;
        bottom: 2rem;
    }
    .h-skate{
        padding: 1rem 0;
    }

    .h-skate .img-skate{
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    .h-skate .img-skate .img-group{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    .h-skate .img-skate .img-s{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: 1rem;
    }
    /* .h-skate .img-skate .img-s .img-h{
        padding: 0 1rem;
    } */
}